USE [master]
GO
/****** Object:  Database [cctv]    Script Date: 2020/12/25 上午 06:44:57 ******/
CREATE DATABASE [cctv]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'cctv', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\cctv.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'cctv_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\cctv_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cctv].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cctv]
GO
/****** Object:  Table [dbo].[account]    Script Date: 2020/12/25 上午 06:44:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[ID] [nchar](10) NOT NULL,
	[Name] [nchar](20) NOT NULL,
	[Account] [nchar](20) NOT NULL,
	[Pwd] [nchar](20) NOT NULL,
 CONSTRAINT [PK_account] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
